body {
    background: rgb(159, 159, 182);
}

.mainHeader {
    color: tomato;
}

.sectionHeader {
    color: blueviolet;
}

.paragraph {
    color: rgb(63, 77, 139);
}

.diaryHeader {
    color: orangered
}

.paragraphHeader {
    color: crimson;
}